body {
    padding-top: 50px;
    overflow: hidden;
}

nav ul, footer ul {
    list-style-type: none;
}
nav li, footer li {
    display: inline;
}

div#map {
    width: 100%;
}

.map-col {
    float: left;
    width: 100%;
}

.info-col { 
    float: left;
    width: 0%;
    overflow-y: auto;
}