<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    <a name="top" />
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
        </ul>
    </nav>
    <div>
        {{ content }}
    </div>
    <footer>
        <ul>
            <li><a href="#top">Back to top</a></li>
            <li><a href="mailto:simonhazelgrove@hotmail.com">email</a></li>
        </ul>
    </footer>
</body>
</html>